<div class="shout">
  <div class="avatar">
    <%= avatar(shout.user) %>
  </div>
  <p class="shout-author">
    <%= link_to shout.username, shout.user %>
  </p>

  <p class="shout-body">
    <%= render shout.content %>
  </p>

  <p class="shout-creation-time">
    <%= link_to shout do %>
      <%= time_ago_in_words(shout.created_at) %> ago
    <% end %>
  </p>
</div>
