
<div class="user-profile">
  <%= avatar @user %>
  <h3><%= @user.username %></h3>
  <%= follow_button @user %>
  <div class="followship-counter">
    <small>
      <%# TODO : show all followed users path %>
      Following: 
      <%= @user.followed_users_count %>
    </small>
    <small>
      <%= link_to 'Followers', user_followers_path(@user) %>
      <%= @user.followers_count %>
    </small>
  </div>
</div>

<%= render @shouts %>