<!DOCTYPE html>
<html>

<head>
  <title>Shoutr</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <%= render 'header' %>

  <section>
    <div id="flash">
      <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  </section>

  <main class="<%= controller.controller_name %> content">
    <%= yield %>
  </main>

  <%= render 'footer' %>
  
</body>

</html>